@mixin padding-vertical($cant) {
    padding-top: $cant; 
    padding-bottom: $cant; 
}

@mixin margin-vertical($cant) {
    margin-top: $cant; 
    margin-bottom: $cant; 
}

@mixin flex-centrado {
    justify-content: center;
    display: flex;
}